@use "./../../vars";

.upload-file-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 50%;
    padding: 6.25rem 1.25rem;
    text-align: center;
    color: vars.$primary-color;
    border: 1px solid;
    border-radius: 0.5rem;
    background-color: vars.$ternary-color;

    #file-upload {
      position: absolute;
      overflow: hidden;
      width: 0.1px;
      height: 0.1px;
      opacity: 0;

      & + label {
        font-size: 1.25rem;
        font-weight: 700;
        display: inline-block;
        overflow: hidden;
        max-width: 80%;
        padding: 0.625rem 1.25rem;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;

        figure {
          display: block;
          width: 100px;
          height: 100px;
          margin: 0 auto 10px;
          padding: 20px;
          border-radius: 50%;
          background-color: vars.$primary-color;
        }

        svg {
          width: 100%;
          height: 100%;
          margin-top: -0.25em;
          margin-right: 0.25em;
          vertical-align: middle;
          fill: #f1e5e6;
        }

        &:hover {
          color: vars.$secondary-color;

          figure {
            background-color: vars.$secondary-color;
          }
        }
      }

      &:focus + label {
        color: vars.$secondary-color;
        outline: 2px solid black;

        figure {
          background-color: vars.$secondary-color;
        }
      }
    }
  }
}
