@use "./../../vars";

.toolbar {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 60px;
  color: white;
  background-color: vars.$primary-color;

  img {
    margin: 0 1rem;
  }
}
