@use "./../../vars";

.expense-report-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;

  .card-wrapper {
    flex: 0 0 auto;
    width: 30%;
    padding: 0.5rem;

    > div {
      border: 1px solid rgba(44, 56, 74, 0.95);
    }

    .card-header {
      font-weight: 600;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 0.5rem;
      color: white;
      border-radius: 2px;
      background-color: vars.$primary-color;

      img {
        margin: 1.8rem 0;
      }
    }

    .card-body {
      display: flex;
      flex: 1 1 auto;
      padding: 1rem;
      text-align: center;

      .divider {
        display: flex;
        align-self: stretch;
        flex: 0 0 1px;
        width: 1px;
        min-height: 1em;
        margin: 0;
        padding: 0 !important;
        opacity: 0.25;
        color: vars.$light-gray-color;
        border: 0;
        background-color: currentColor;
      }

      .col {
        flex: 1 0 0;

        .number {
          font-size: 1.5rem;
          font-weight: 600;
        }

        .label {
          font-size: 0.85rem;
          text-transform: uppercase;
          color: vars.$light-gray-color;
        }
      }
    }
  }
}

.command-history {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  border: 1px solid vars.$light-gray-color;

  .header {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    color: white;
    background-color: vars.$primary-color;
  }

  .content {
    font-size: 0.85rem;
    padding: 1rem;
  }
}
