.main-container {
  margin: 0 1rem;

  .site-container {
    display: flex;
    justify-content: center;

    tbody {
      position: relative;

      .bulldozer {
        position: absolute;
        left: -4rem;
        width: 4rem;
        height: 4rem;
        background-image: url('./../../assets/svgs/bulldozer.svg');
      }
    }

    td {
      width: 4rem;
      height: 4rem;
      border: 1px solid;
      background-size: contain;
    }
  }
}
