.main-container {
  margin: 0 1rem;

  .site-container {
    display: flex;
    justify-content: center;

    tbody {
      position: relative;
    }

    td {
      width: 4rem;
      height: 4rem;
      border: 1px solid;
      background-size: contain;
    }
  }
}
