<section class="vehicle-control-container">
  <div class="controls-container">
    <h3 class="header">Vehicle Controls</h3>
    <div class="button-control">
      <button type="button" aria-label="Advance one square" (click)="advanceVehicle(['a', '1'])">
        Advance
      </button>
    </div>
    <div class="button-control">
      <button type="button" aria-label="Move to left" (click)="turnVehicleLeft()">
        Left
      </button>
      <button type="button" aria-label="Move to right" (click)="turnVehicleRight()">
        Right
      </button>
    </div>
    <div class="button-control">
      <button type="button" aria-label="Quit Simulation" (click)="quitSimulation()">
        Quit
      </button>
    </div>
  </div>
</section>
